.calendar {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 2rem;
    }

    &__div {
        border: solid 1px;
        height: 40vh;
        width: 100%;
        background-color: aqua;
    }

    &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5rem;


        &__div {
            height: 5vh;
            border: 1px solid $green-color;
        }
    }
}