.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;


    &__title {
        text-transform: capitalize;
        font-size: 2rem;
        color: $orange-color;
        padding-bottom: 3%;
        font-family: $font-title;
    }

    &__body {
        border: 1px solid #46122060;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: space-around;

        &__ul {
            margin: 2%;
            padding-right: 1.5%;
            border-right: solid 1px #46122060;
        }

        &__day {
            padding: 15% 0 15% 0;
            color: $orange-color;
            font-size: 0.5rem;
        }

        &__task {
            width: 70%;

            &--soil {
                background-color: $orange-color;
                padding: 5%;
                margin: 5%;
            }

            &--harvest {
                background-color: $green-color;
                padding: 5%;
                margin: 5%;
            }
        }
    }

    &__options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5rem;


        &__div {
            height: 5vh;
            border: 1px solid $green-color;
        }
    }

}