.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;

    &__title {
        font-size: 2rem;
    }

    &__body {
        border: 1px solid $brown-color;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;

        &__day {
            font-size: 0.5rem;
        }

        &__task {
            width: 70%;

            &--soil {
                background-color: $orange-color;
                padding: 5%;
                margin: 5%;
            }

            &--harvest {
                background-color: $green-color;
                padding: 5%;
                margin: 5%;
            }
        }
    }

    &__options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5rem;


        &__div {
            height: 5vh;
            border: 1px solid $green-color;
        }
    }

}